@use '../../../../../../styles/vars' as *;

.root {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.configLabel {
  color: $labelColor;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.text {
  color: $labelColor;
  text-align: justify;
}
