@use '../../../../../../styles/vars' as *;

.root {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.configLabel {
  color: $labelColor;
  margin: 0;
}

.dropzone {
  border: 1px dashed $borderColor;
  border-radius: $borderRadiusSmall;
  padding: 14px;
  background: $darkGrayLighter;
  cursor: pointer;
  transition:
    border-color $transitionFast,
    background $transitionFast;

  &:hover {
    border-color: $white;
  }

  &[data-active='true'] {
    border-color: $primaryColor;
    background: $solidMutedColor2;
  }
}

.dropzoneText {
  margin: 0;
  color: $labelColor;
}

.muted {
  margin: 0;
  color: $labelColor;
}

.sheetSelector {
  display: flex;
  flex-direction: column;
  gap: 8px;

  .select {
    background: $darkGrayLighter;
    border: 1px solid $borderColor;
    border-radius: $borderRadiusSmall;
    color: $white;
    padding: 8px;
    width: 100%;
    cursor: pointer;
    font-size: 14px;

    option {
      background: $darkGray;
      color: $white;
    }
  }
}
