@use '../../styles/_vars.scss' as *;

.form {
  display: flex;
  flex-direction: column;
  gap: $spacingBase;

  .row {
    display: flex;
    gap: $spacingBase;

    > label {
      flex: 1;
    }
  }

  .label {
    display: flex;
    flex-direction: column;
    gap: 6px;
    color: $labelColor;
  }

  .error {
    color: $dangerColor;
    font-size: 12px;
  }
}
