@use '../../../../../../styles/vars' as *;

.root {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.sortBlock {
  position: relative;
  background: rgba($white, 0.03);
  border-radius: 8px;
  padding: 18px 30px 8px 18px;
}

.closeButton {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: $errorGrey;
  border: 1px solid $borderColor;
  border-radius: 999px;
  color: $white;
  width: 30px;
  height: 30px;
  font-size: 24px;
  cursor: pointer;
  padding: 2px;
  line-height: 1;
  transition:
    border-color $transitionFast,
    background $transitionFast;

  &:hover {
    background-color: $errorBorderGrey;
  }
}

.selectsRow {
  display: grid;
  grid-template-columns: 70% 30%;
  gap: 12px;
  margin-bottom: 12px;

  @media (max-width: 760px) {
    flex-direction: column;
  }
}

.selectWrapper {
  flex: 1;
}

.addButton {
  align-self: flex-start;
}
