@use 'reset-css/sass/reset';
@use './_vars.scss' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  min-height: 100%;
}

body {
  margin: 0;
  font-family: $defaultFontFamily;
  font-size: $defaultFontSize;
  line-height: $defaultLineHeight;
  background-color: $defaultBackgroundColor;
  color: $defaultTextColor;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  &::-webkit-scrollbar-track {
    background: rgba($borderColor, 0.1);
    border-radius: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba($borderColor, 0.4);
    border-radius: 4px;

    &:hover {
      background: rgba($borderColor, 0.6);
    }
  }
}
