@use '../../styles/_vars.scss' as *;

.form {
  display: flex;
  flex-direction: column;
  gap: $spacingBase;

  .hint {
    margin: 0 0 $spacingBase;
    color: $labelColor;
    font-size: 14px;
    line-height: 1.4;
  }

  .sentTo {
    margin: 0 0 $spacingBase;
    color: $labelColor;
    font-size: 14px;
    line-height: 1.4;

    strong {
      color: $defaultTextColor;
      font-weight: 700;
    }
  }

  .label {
    display: flex;
    flex-direction: column;
    gap: 6px;
    color: $labelColor;
  }

  .error {
    color: $dangerColor;
    font-size: 12px;
  }

  .actions {
    display: flex;
    flex-direction: column;
    gap: $spacingBase;

    button {
      width: 100%;
    }
  }
}
