@use '../../../../styles/_vars.scss' as *;

.previewPanel {
  display: flex;
  flex-direction: column;
  min-width: 0;

  .metadataRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: $spacingMedium;
    padding-bottom: 4px;
    background: $darkGray;

    .metadata {
      margin: 0;
      color: $labelColor;
      font-size: $defaultFontSize;
    }

    .rowLimitSelect {
      width: 160px;
      cursor: pointer;
      option {
        z-index: 100;
      }
    }
  }

  .tabRow {
    display: flex;
    gap: 8px;

    .tab,
    .tabActive {
      background: $darkGrayLighter;
      border: 1px solid $borderColor;
      color: $labelColor;
      border-radius: $borderRadiusSmall $borderRadiusSmall 0 0;
      padding: 8px 10px;
      cursor: pointer;
      font-size: $defaultFontSize;
      background-color: $darkGray;
      border-bottom: none;
      height: 44px;
    }

    .tabActive {
      color: $white;
      background-color: $darkGrayLighter;
      position: relative;
      top: 1px;
    }
  }
}

.muted {
  color: $labelColor;
}
