@use '../../../styles/_vars.scss' as *;

.label {
  display: flex;
  flex-direction: column;
  gap: 6px;
  color: $labelColor;

  .wrapper {
    position: relative;

    .input {
      padding: 0 44px 0 12px;
    }

    .toggle {
      position: absolute;
      right: 8px;
      top: 50%;
      transform: translateY(-50%);
      display: grid;
      place-items: center;
      width: 38px;
      height: 38px;
      padding: 0;
      border: none;
      background: transparent;
      cursor: pointer;
    }

    .icon {
      width: 28px;
      height: 28px;
      display: block;
      background-color: $labelColor;
      mask-repeat: no-repeat;
      mask-position: center;
      mask-size: contain;
      -webkit-mask-repeat: no-repeat;
      -webkit-mask-position: center;
      -webkit-mask-size: contain;
    }

    .iconHidden {
      mask-image: url('../../../assets/password_hidden.svg');
      -webkit-mask-image: url('../../../assets/password_hidden.svg');
    }

    .iconSeen {
      mask-image: url('../../../assets/password_seen.svg');
      -webkit-mask-image: url('../../../assets/password_seen.svg');
    }
  }

  .error {
    color: $dangerColor;
    font-size: 14px;
  }
}
